absl-py==2.4.0
asgiref==3.11.1
Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gitdb==4.0.12
GitPython==3.1.41
immutabledict==4.3.1
mysqlclient==2.2.8
numpy==2.4.6
ortools==9.15.6755
pandas==3.0.3
protobuf==6.33.6
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
setuptools==78.1.1
six==1.17.0
smmap==5.0.3
sqlparse==0.5.5
timedelta==2020.12.3
typing_extensions==4.15.0
